:root {
  --header-height-footer: 110px; /* Đặt chiều cao của header */
}

.container {
  display: grid;
  min-height: calc(100vh - var(--header-height-footer));
  grid-template-columns: 300px auto;
}

.sidebar {
  float: left;
  height: 100%; 
  background-color: #E2E9FB;
}

.navbar {
  margin-left: 20px;
  margin-top: 50px;
}
.navbar > div {
  margin-top: 20px;
}

.content {
  margin: 25px 0px 0px 25px;
}

.header {
  text-align: center;
  line-height: 60px; 
  height: 60px;
  background-color: #DFE2E9;
  margin:0%;
}

.long-underline {
  position: relative; 
  display: inline-block; 
}

.long-underline:after {
  content: ""; 
  position: absolute; 
  right: -50%; 
  bottom: -3px; 
  width: 200%; 
  height: 1px; 
  background-color: black; 
}

.flex-row {
  display: grid;
  grid-template-columns: 270px auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.info > div {
  padding-bottom: 10px;
}

.a > div {
  padding-bottom: 10px;
}

.info {
  padding-top: 100px;
}

.search-container {
  text-align: center;
  margin-top: 50px; /* Điều chỉnh khoảng cách từ đỉnh trang */
}

.search-container input[type="text"],
.search-container button {
  padding: 10px;
  font-size: 16px;
}

.search-container input[type="text"] {
  width: 300px; /* Độ rộng của input */
  border: 1px solid #ccc; /* Đường viền của input */
  border-radius: 5px; /* Bo góc của input */
}

.search-container button {
  background-color: #4CAF50; /* Màu nền của button */
  color: white; /* Màu chữ của button */
  border: none; /* Loại bỏ đường viền của button */
  border-radius: 5px; /* Bo góc của button */
  cursor: pointer;
}

/* Thiết lập hiệu ứng khi di chuột qua button */
.search-container button:hover {
  background-color: #45a049; /* Màu nền khi di chuột qua */
}