.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 300px;
    background-color: #33567a;
    padding: 20px;
    margin-top: 70px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .nav {
    margin-top: 50px;
  }
  
  .navList {
    list-style-type: none;
    padding: 0;
  }
  
  .navItem {
    margin-bottom: 20px;
  }
  
  .navLink {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s;
  }
  
  .navLink:hover {
    color: #3498db;
  }
  